.visualization-layout {
  .label {
    color: white;
  }
  .mdc-tab-indicator--active {
    .label {
      color: #673ab7;
    }
  }
.radio-group{
  display: flex;
  justify-content: center;
  .radio {
    .mdc-form-field {
      color: white;
    }
  }
}

}


