.header{
  height: 50px;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
