
.button-container {
  display: flex;
  justify-content: end;
  padding: 5px;
  .delete {
    border: 1px solid #efefef;
  }
  .disabled {
    color: #888;
    &.delete {
      border: 1px solid #888;
    }
  }
  button {
    width: 100px;
    margin: 5px;
  }
}
